@model IEnumerable<Haarlem_Festival.Models.View_Models.Historic.HistoricView>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Historic Haarlem";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Historic/HistoricStyle.css")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")


</head>

<section id="historicintro">
    <h1>Visit Haarlem Historic</h1>

    <p class="shortintro">
        Haarlem Historic will be offered as a
        guided tour through Haarlem, visiting historic and important places in its history.
        <br /><br />
        Duration of this walking tour will be approx. 2,5 hours (with a 15 -minutebreak with refreshments).
        Tours will be held on Thursday, Friday and Saturday.  There will be several departures a day. The tour starts near of the ‘Churchof St.Bavo’,‘Grote Markt’ in the centre of Haarlem. A giant flag marked ‘Haarlem Historic’ will mark the exact starting location.
    </p>
</section>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Tickets</h1>
    <span>---------------------------------------------------</span>
</section>
<!-- NAVIGATIE TICKETS BEGIN -->
<!-- Knoppen voor navigatie verschillende dagen -->
<section id="availabletours">
    <table width="50%" align="center" id="day-selector">
        <tr>
            <th><a id="thursday" class="navigation-button active">Show tickets for Thursday July 25</a></th>
            <th><a id="friday" class="navigation-button">Show tickets for Friday July 26</a></th>
            <th><a id="saturday" class="navigation-button">Show tickets for Saturday July 27</a></th>
            <th><a id="sunday" class="navigation-button">Show tickets for Sunday July 28</a></th>
        </tr>
    </table>
    <!-- NAVIGATIE TICKETS EIND -->
    <!-- TICKET TABLE BEGIN -->
    <table width="50%" align="center" class="tourtable">
        <tr>
            <th><h4>Time</h4></th>
            <th><h4>Price</h4></th>
            <th><h4>Dutch Tour</h4></th>
            <th><h4>English Tour</h4></th>
            <th><h4>Chinese Tour</h4></th>
        </tr>

        @foreach (var historicEvent in Model)
        {
            @Html.Raw(historicEvent.HistoricEvent.GetGeneratedHtml)
        }

        <tr class="familyRow">
            <td colspan="4">
                <b>Also available, family tickets!</b> For 4 people
            </td>
            <td>
                Price €60,-
            </td>
        </tr>
    </table>
    <!-- TICKET TABLE EIND -->
</section>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Locations</h1>
    <span>---------------------------------------------------</span>
</section>

<section id="tourlist">
    <ol width="50%">
        <li>Church of St. Bavo</li>
        <li>Grote Markt</li>
        <li>De Hallen</li>
        <li>Proveniershof</li>
        <li>Jopenkerk (Break location)</li>
        <li>Waalse Kerk Haarlem</li>
        <li>Molen de Adriaan</li>
        <li>Amsterdamse Poort</li>
        <li>Hof van Bakenes</li>
    </ol>
</section>

<!-- Modal screen: -->
<section class="modal fade" id="MyModal" role="dialog">
    <section class="modal-dialog">
        <section class="modal-content">
            <section class="modal-body" id="modalBody">
                <!-- Filled by partial View, see JS at top of this file -->
                <!-- RenderPartial or Partial are no option, because they render it immediately (but we want the ticketscreen rendered after click) -->
            </section>
        </section>
    </section>
</section>

<section class="locationpreview">
    <h2>St. Bavo Church</h2>
    <img src="~/Content/Historic/img/stbavo.jpg" />
</section>

<section class="locationpreview">
    <h2>Amsterdam Gate</h2>
    <img src="~/Content/Historic/img/amsterdamgate.png" />
</section>

<section class="tourpreview">
    <img src="~/Content/Historic/img/tour.PNG" />
</section>

<script>
    var thisDay = "thursday";
    var buttoncontainer = document.getElementById("day-selector");
    var buttons = buttoncontainer.getElementsByClassName("navigation-button");

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            // Table hiden van alle rows.
            this.className += " active";
            // Relevante table showen.
        });
    }

    $(document).ready(function () {
        $(".dayOfWeek").hide();
        $(".dayOfWeek.thursday").show();

        $(".navigation-button").click(function () {
            $(".dayOfWeek").hide();
            var knopId = $(this).attr("id");
            $(".dayOfWeek." + knopId).show();

            thisDay = knopId;
        });

    });

    var BookTour = function (historicEventId) {
        var url = "/Historic/BookTour?eventId=" + historicEventId;
        $("#modalBody").load(url, function () {
            $("#MyModal").modal("show");
        })
    };

    $('body').on("change", 'input[type=radio][name=FamilyTicket]', function () {
        var isFamily = $(this).val();
        if (isFamily == "True") {
            $("#RegularTickets").hide();
            $("#ticketlabel").hide();
        }
        else {
            $("#RegularTickets").show();
            $("#ticketlabel").show();
        }
    });
</script>
