@model IEnumerable<Haarlem_Festival.Models.Domain_Models.Historic.HistoricEvent>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Historic Haarlem";
}

<head>
    @Styles.Render("~/Content/Historic/HistoricStyle.css")
</head>

<h1>Visit Haarlem Historic</h1>

<article>
    Haarlem Historic will be offered as a
    guided tour through Haarlem, visiting historic and important places in its history.

    Duration of this walking tour will be approx. 2,5 hours (with a 15 -minutebreak with refreshments).
    Tours will be held on Thursday, Friday and Saturday.  There will be several departures a day. The tour starts near of the ‘Churchof St.Bavo’,‘Grote Markt’ in the centre of Haarlem. A giant flag marked ‘Haarlem Historic’ will mark the exact starting location.
</article>

<section class="title">
    <span>---------------------------------------------------</span>
    <h1>Tickets</h1>
    <span>---------------------------------------------------</span>

    @foreach (var historicEvent in Model)
    {
        @Html.DisplayFor(modelItem => historicEvent.EventName)
    }
</section>
