<head>
    @Styles.Render("~/Content/Home/HomeStyle.css")
    @Styles.Render("~/Content/General/GeneralStyle.css")
    @Styles.Render("~/Content/Dance/DanceStyle.css")
</head>

<h1>We're Sorry!</h1>
<p>It seems like there weren't enough tickets available</p>
@Html.ActionLink("Back to Dance", "Index", "Dance")
