p {
    font-family: Arial;
    font-size: 13px;
    width: 900px;
    height: 96px;
    margin: 0 auto;
}
#InfoTiles {
    width:90%;
    height:50%;
    overflow:hidden;
    margin:auto;
    background: linear-gradient(135deg, #8ad183 0%,#c3e395 100%);    
}
#InfoTiles table{
    margin-top:0;
}
#InfoTiles td{
    width:50%;
}
#InfoTiles img{
    width:100%;
}

.Container {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5);
}