body {
    background-image: url("img/bg.jpg");
}

#shortintro {
    margin: 40px 20% 40px 20%;
    font-size: 20px;
    font-weight: lighter;
}

#foodintro {
    border: solid 1px #56D8CE;
    margin: 0 20px 0 20px;
}

    #foodintro img, #foodintro article {
        display: inline-block;
        margin: 20px 5px 20px 5px;
        height: 280px;
        width: 370px;
        font-size: 20px;
        vertical-align: top
    }


.title {
    margin-top: 40px;
}

    .title span {
        letter-spacing: -2px;
        font-size: 15px;
        color: #56D8CE;
        margin: 0 20px 0 20px;
    }

    .title h1 {
        display: inline;
        font-weight: bolder;
    }

.table-bordered {
    margin: 0 auto 0 auto;
}

    .table-bordered th, .table-bordered td {
        padding: 5px !important;
        text-align: center;
    }

    .table-bordered button {
        border: none;
        width: 100%;
        height: 100%;
        background-color: none;
        color: none;
    }

.ticketcaption {
    margin: 1% 26% 0 26%;
    font-size: 13px;
}

.restaurantTile {
    width: 350px;
    height: 450px;
    border: solid 1px #56D8CE;
    display: inline-block;
    margin: 1%;
    vertical-align: top;
}

.restaurantTile img {
    width: 350px;
    height: 220px;
}

#restauranticons img {
    width: 40px;
    height: 40px;
}

.stars img {
    width: 25px; 
    height: 25px;
}

/* Ticket-part: */
.modal {
  
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px; /* Adjusts for spacing */
    }

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

#ticketselect hr {
    width: 100%;
}

#ticketselect h2 {
    color: red;
}

#adultsorchildren, #dateSelect {
    text-align: left;
}

#ticketselect select, #ticketselect input, #specialwishes textarea {
    width: 100%;
    resize: none;
}

#dateSelectSubtext p {
    font-size: 10px;
    text-align: left;
}

