.logo {
    width: 100px;
}

.bluebox {
    background-color: lightblue;
    padding: 10px;
    position: relative;
}

    .bluebox p {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        width: 60%;
        overflow: auto;
    }

p {
    font-size: 20px;
}

.blueboxText {
    width: 90%;
}

html {
    font-family: 'Bahnschrift Light', 'Bahnschrift';
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: white;
    width: 1200px;
    display: block;
    margin: 2% auto 2% auto;
    position: relative;
    z-index: -5;
}

.title {
    text-align: center;
    margin-top: 40px;
}

    .title span {
        letter-spacing: -2px;
        font-size: 15px;
        color: #56D8CE;
        margin: 0 20px 0 20px;
    }

    .title h1 {
        display: inline;
        font-size: 30px;
    }

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}

.BodyAlignCenter {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 150px;
    padding-right: 150px;
}

.jazzimg {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    height: 93%;
}

.alignCenter {
    text-align: center;
    margin: 5px;
}

footer {
    font-size: 16px !important;
}

.SlideShow {
    position: relative;
    margin-top: 5px;
}

.Slide {
    border: 1px solid #ffc46b;
    margin: 0px;
    width: 45%;
    height: 700px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    position: relative;
    display: none;
}

    .Slide p {
        width: 95%;
        text-align: center;
    }

.SlidesTextBox {
    display: table-cell;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: 200px;
}

    .SlidesTextBox p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }

.SlideCenter {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    text-align: center;
    z-index: 20;
    background-color: white;
    display: block;
}

.SlideSides {
    width: 30%;
    height: 500px;
    opacity: 0.5;
    z-index: 10;
    top: 80px;
    position: absolute;
    display: block;
}

    .SlideSides p {
        font-size: 13px;
    }

    .SlideSides h1 {
        font-size: 21px;
        font-weight: bold;
    }

.SlideRight {
    left: 70%;
}

.SlideLeft {
    left: 0px;
}

.SlideImage {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 150px;
    width: auto;
    padding: 16px;
    color: #ffc46b;
    font-weight: bold;
    font-size: 200px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    z-index: 25;
    opacity: 0.8;
    user-select: none;
}

.prev {
    left: 0px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        color: rgba(0,0,0,0.8);
        text-decoration: none;
    }

#JazzOrder {
    background-color: white;
}

#Popup {
    background-color: lightblue;
    z-index: 50;
    position:absolute;
    width: 500px;
    height: 200px;
    top:100px;
    left: 300px;
    visibility: none;
    display: none;
}

.close {
    position: absolute;
    left: 480px;
    top: 5px;
}